<!DOCTYPE html>

<head>
    <meta http-equiv="Cache-Control" content="no-cache">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="./index.js"></script>
    <link type="text/css" href="./style.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
        @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
    </style>
</head>

<body>

<div class="btn-group">
    <button type="button" class="btn active" onclick="getBestInPeriod(this,'today')">Today</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'yesterday')">Yesterday</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'daybeforeyesterday')">Day before yesterday</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'thisweek')">This week</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'lastweek')">Last week</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'thismonth')">This month</button>
    <button type="button" class="btn" onclick="getBestInPeriod(this,'whole')">For all time</button>
</div>

<br><br>

<div class="error"></div>

<div id="topIn3Hours" class="topIn3Hours">
    <div v-for="(post, index) in posts" id="" class="top-post">

        <div class="with-max-line-count" style="webkitLineClamp:3;" onclick="openCloseTopText(this)">
            {{post.content}}
            <br>
            <a v-bind:href="post.link" target="_blank">{{ post.chattitle }}</a>
        </div>

    </div>
</div>

<div id="results" class="results">
    <div v-for="(post, index) in posts" id="result" class="result">

        <div class="title">
            <a v-bind:href="post.link" target="_blank">{{ post.chattitle }}</a>
        </div>

        <div class="content with-max-line-count" style="webkitLineClamp:3;">
            {{post.content}}
        </div>
        <div class="interactions-block">
            <div class="interactions left">

                <div class="box">
                    <div class="box-element">
                        <i title="Post views" class="fas fa-eye"></i>{{post.views}}
                    </div>

                    <div class="box-element">
                        <i title="Post forwards" class="fas fa-share"></i>{{post.forwards}}
                    </div>

                    <div class="box-element">
                        <i title="Post replies" class="fas fa-comments"></i>{{post.replies}}
                    </div>
                </div>
            </div>
            <div class="interactions arrow" onclick="changeArrow(this);openCloseText(this)"><i
                        class="fas fa-caret-down"></i></div>
            <div class="interactions date">{{post.date}}</div>
        </div>
    </div>
</div>

</body>

</html>